.filters{
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

button:hover{
    background-color: rgba(255, 90, 95, 0.9);
}

.filters .locations{
    width: 25%;
    height: 100%;
    border-right: #DDDDDD solid 1px;    
    position: relative;
    z-index: 1;
}

.filters .amenities{
    width: 25%;
    height: 100%;
    position: relative;
    z-index: 1;
}

h3{
    font-weight: 600;
    margin-bottom: 2px;
    padding-left: 30px;
}

h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding-left: 30px;
    padding-bottom: 17px;
}

h2{
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 0px;
    position: relative;
}

h1{
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.popover{
    position: absolute;
    border: #DDDDDD solid 1px;
    border-radius: 4px;
    background-color: #FAFAFA;
    padding: 0px;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 100%;
    margin: 0px;
    margin-left: -1px;
    visibility: hidden;
}

.popover li{
    margin-left: 50px;
    margin-bottom: 5px;
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
}

.filters .locations:hover .popover{
    visibility: visible;
}

.filters .amenities:hover .popover{
    visibility: visible;
}